<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tarupramanata">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BananaDetection"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.example.tarupramanata.StartedActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.tarupramanata.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.example.tarupramanata.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name="com.example.tarupramanata.ChatbotActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.example.tarupramanata.ScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection" />

        <activity
            android:name="com.example.tarupramanata.DetailScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection" />

        <activity
            android:name="com.example.tarupramanata.DetailArtikelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection" />

        <activity
            android:name="com.example.tarupramanata.DetailResepActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection" />

        <activity
            android:name="com.example.tarupramanata.TutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BananaDetection" />

    </application>

</manifest>